<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Social media appt</title>

</head>
<body>



    <div id="heading">
        <h1 id="tag">  social media app  </h1>
    </div>

    <div>
        <form action="/login" method="post">
            <input type="text" placeholder="username" autocomplete="off" autofocus name="username">
            <input type="text" placeholder="password" autocomplete="off" name="password">
            <% if (locals.msg){ %>
                <p> <%= msg %></p>
            <% } %>
            <button type="submit">Login</button>
        </form>
    </div>


   

</body>
</html>