<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <title>Document</title>
</head>
<body>
    <h2>Register</h2>

<form action="/register" method="post">  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username" id="username" required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
  <% if (locals.msg){ %>
    <p> <%= msg %></p>
    <% } %>
</form>

<div>
  <form action="/auth/google">
    <button type="submit">sign in with google</button>
  </form>
</div>
   
    
</body>
</html>